/*semantic css OVERWRITE */
/* Validations */
.out {
display: none;
}

.validation {
position: relative;
z-index: 2;
top: 4px;
right: 30px;
color: #87b672;
text-shadow: 1px 1px 1px black;
animation: fadein 2s;
font-size: 1em;
}

.validationTime {
position: relative;
z-index: 2;
top: 30px;
right: 5px;
color: #87b672;
text-shadow: 1px 1px 1px black;
animation: fadein 2s;
font-size: 0.8em;
}

/* ANIMATIONS */
.activeReturn {
display: none !important;
}

@keyframes fadein {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
@keyframes fadeSearchOpen {
0% {
height: 0px;
}
100% {
height: 460px;
}
}
.fadeSearchOpen {
height: 460px !important;
animation: 500ms fadeSearchOpen;
}
.fadeSearchOpen h1 {
display: none;
}

@keyframes fadeSearchClose {
0% {
height: 460px;
}
100% {
height: 0px;
}
}
.fadeSearchClose {
height: 0px;
animation: 500ms fadeSearchClose;
}
.fadeSearchClose h1 {
display: none;
}

.fade-appear {
opacity: 0.01;
}

.fade-appear.fade-appear-active {
opacity: 1;
transition: opacity 500ms ease-out;
}

.form-appear {
opacity: 0.01;
}

.form-appear.form-appear-active {
opacity: 1;
transition: opacity 500ms ease-in;
}

.primary {
background: #2b5bac !important;
}

.secundary {
background: #87b672 !important;
color: white !important;
}

.statusPen {
background-color: rgba(255, 255, 0, 0.2) !important;
color: #CBB300;
}

.statusApr {
background-color: #CAFFCE !important;
color: #2C662D;
}

.statusCan {
background-color: #FFCACA !important;
color: #FF0000;
}

.buttonPen {
background-color: #2b5bac !important;
color: white !important;
margin-right: 5px !important;
padding: 2px 5px !important;
}
.buttonPen:hover {
box-shadow: 2px 2px 5px black !important;
}

.printButton {
margin: 0 !important;
padding: 3.5px 5px !important;
height: 20px !important;
margin-right: 5px !important;
margin-bottom: 5px !important;
background-color: #2b5bac;
color: white !important;
}
.printButton:hover {
box-shadow: 2px 2px 5px black !important;
}

.underline {
text-decoration: underline !important;
}

h1 span {
color: black !important;
}

.colorGreen {
color: #87b672 !important;
}

.colorBlue {
color: #2b5bad !important;
}

.grid {
margin-top: 0 !important;
}

.input * {
border-radius: 0 !important;
}
.input button {
background: #87b672 !important;
}

.title {
text-decoration: none;
}

.selection {
border-radius: 0 !important;
line-height: 10px !important;
min-height: 0 !important;
}

.divHora {
max-height: 20px;
}

a {
color: #b2b2b2 !important;
}

.logoVerde {
color: #87b672;
font-size: 27px;
padding-right: 20px;
}

.logoAzul {
color: #2b5bad;
font-size: 27px;
}

.logoBlanco {
color: #FFF;
font-size: 27px;
}

.login {
font-size: 10px;
padding-right: 3px !important;
padding-left: 5em !important;
}

/********* DatePicker and Form *********** */
h1.ui.header {
font-size: 2em !important;
text-align: center;
}

.form {
margin-top: 10px;
background-color: rgba(45, 72, 192, 0.8);
margin-bottom: 15px;
width: 366px !important;
}

.titleForm {
padding-top: 23px !important;
margin-bottom: 0px !important;
}

.checkbox, .radio {
    margin-bottom: -50px !important;
}



.DatePickerForm {
border-radius: 0 !important;
height: 34px;
position: relative;
top: -10px;
left: -4px;
width: 143px !important;
}

.columnPaddingzero {
padding: 0 0 18px 0 !important;
}

.dividerForm {
width: 100%;
margin: 0 10% auto !important;
border-top: 2px solid #70a0ec !important;
border-bottom: 1px solid #70a0ec !important;
}

.topDatePicker {
    padding-top: 24px !important;
    padding-bottom: 0 !important;
}

.checkboxForm {
left: 32px;
bottom: 13px;
padding-left: 2em !important;
}
.checkboxForm:before {
background: rgba(255, 255, 255, 0) !important;
border: 0.2em solid #87b672 !important;
width: 20px !important;
height: 20px !important;
top: -3px !important;
}
.checkboxForm:after {
color: #87b672 !important;
width: 30px !important;
font-size: 20px !important;
top: -5px !important;
left: -2px !important;
}

.selectFormSearchWhen {
width: 100%;
overflow: hidden;
display: flex;
justify-content: space-around;
flex-direction: row;
height: 30px;
}
.selectFormSearchWhen input {
border-radius: 0 !important;
text-align: center;
padding-top: 0.4em !important;
}

.gridAutocomplete {
margin: 0 auto !important;
width: 90%;
}

.selectFormSearch {
height: 37px;
width: 93%;
overflow: hidden;
display: flex;
justify-content: flex-start;
flex-direction: row;
}

.row {

    margin-left: 0px !important;
}

.Select {
    width: 73%;
    left: 50px;
    position: absolute !important;
}
.Select .Select-menu-outer > div {
text-align: left;
}
.Select .Select-control {
background-color: #fff;
border: none;
border-radius: 0 !important;
color: #333;
cursor: default;
display: table;
height: 37px;
outline: none;
overflow: hidden;
position: relative;
width: 100%;
}
.Select .Select-control .Select-multi-value-wrapper {
width: 100%;
display: inline-block;
}
.Select .Select-control .Select-multi-value-wrapper .Select-value, .Select .Select-control .Select-multi-value-wrapper .Select-placeholder {
text-align: left !important;
}
.Select .Select-control .Select-multi-value-wrapper .Select-placeholder {
bottom: 0;
color: #aaa;
left: 0;
line-height: 34px;
padding-left: 10px;
padding-right: 10px;
position: absolute;
right: 0;
top: 0;
max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.Select .Select-control .Select-multi-value-wrapper .Select-input {
font-size: 1em;
background: #FFF;
border: none;
border-radius: none !important;
width: 100%;
vertical-align: middle;
margin-left: 10px;
padding: 0;
}
.Select .Select-control .Select-multi-value-wrapper .Select-input input {
width: 100% !important;
background: none transparent;
border: none;
box-shadow: none;
cursor: default;
display: inline-block;
font-family: inherit;
font-size: inherit;
margin: 0;
outline: none;
line-height: 14px;
padding: 8px 0 12px;
-webkit-appearance: none;
}

.gridAutocomplete .selectFormSearchWhen .input-group-addon-standar, .divWhen .selectFormSearchWhen .input-group-addon-standar {
padding: 0.35em 1.1em !important;
font-size: 0.95em !important;
}

.input-group-addon-standar {
width: 40px;
vertical-align: middle;
padding: 0.5em 1em;
font-size: 1em;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #87b672;
}
.input-group-addon-standar i {
text-align: center;
width: 1.4em;
margin-left: -0.5em;
color: #FFF;
font-weight: 500;
font-size: 1.5em;
}

.buttonGreen {
background-color: #87b672 !important;
color: white !important;
border-radius: 0 !important;
height: 50px !important;
}

.inputCenter {
margin: 5px auto 0 auto !important;
}

.textYellow {
color: yellow !important;
}

.containerBottom {
position: relative;
bottom: -100px;
}

h1, #spanWhite, h4, .spanWhite {
color: #fff !important;
}

.divLabelDate {
padding-bottom: 12px !important;
display: flex;
justify-content: flex-start;
width: 76%;
}

.divWhen {
width: 72%;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.divWhen .Select-control {
height: 30px;
}
.divWhen .Select-control .Select-multi-value-wrapper {
height: 30px;
}

.columnPaddingzero {
flex: 2;
margin-right: 5px;
}

.selectDivHour {
height: 30px;
background: #fff;
flex: 1;
}
.selectDivHour .selectHour {
width: 94.33px !important;
border-radius: 0 !important;
border: none !important;
background: transparent !important;
padding: 0;
left: 244px !important;
}
.selectDivHour .Select-menu-outer {
position: inherit;
}
.selectDivHour span .Select-placeholder {
left: 9% !important;
line-height: 2em !important;
}

i.green.icon {
color: #87b672 !important;
}
i.inverted.bordered.green.icon, i.inverted.circular.green.icon {
background: #87b672 !important;
}
i.bordered.icon {
box-shadow: 0 0 0 0.1em #fff inset;
}

.ui.basic.button {
color: #fff !important;
box-shadow: 0 0 0 1px white inset !important;
}

/********* End DatePicker and Form ************ */
/*PROMO */
.titlePromo {
margin-bottom: 0 !important;
}

.buttonReservar {
margin-top: 22px !important;
margin-bottom: 15px !important;
}

.whiteIco {
color: white !important;
}

.spaceComillas {
padding-top: 20px !important;
box-shadow: 0 0 0 1px white inset !important;
}

/*flex styles */
.one {
flex: 1;
}

.two {
flex: 2;
}

.three {
flex: 3;
}

.four {
flex: 4;
}

/***********RESERVE****************** */
.containerReserve {
display: flex !important;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.containerReserve .contentFormReserves {
flex: 1;
max-width: 365px;
}
.containerReserve .contentFormReserves .dataClient, .containerReserve .contentFormReserves .dataCard {
margin: 1em 0;
}
.containerReserve .contentReserveSingleCar {
flex: -1;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve {
margin-top: 1em;
display: flex;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve {
display: flex;
flex-direction: row;
flex-basis: 85%;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeRentReserve, .containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeReturnReserve {
display: flex;
flex: 1.1;
padding: 1em 2em 0.5em 1em;
flex-direction: column;
border: 1px solid #ccc;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeRentReserve h3, .containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeReturnReserve h3 {
margin-bottom: 6px;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeRentReserve .textUbication, .containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeReturnReserve .textUbication {
color: #6d6d6d !important;
margin-bottom: 2em;
line-height: 1.2em;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeRentReserve span, .containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeReturnReserve span {
font-size: 12px;
color: #b2b1b1;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeRentReserve span i, .containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .placeReturnReserve span i {
padding-right: 5px;
font-size: 1.5em;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .selectedRateReserve {
display: flex;
flex: 1;
padding: 1em 2em 0.5em 1em;
flex-direction: column;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .selectedRateReserve .textUbication {
color: #6d6d6d !important;
margin-bottom: 2em;
line-height: 1.2em;
margin-bottom: 5px;
padding-right: 19px;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .selectedRateReserve .listText {
margin-top: 0;
font-size: 12px;
}
.containerReserve .contentReserveSingleCar .formSingleCarReserve .containerPlaceReserve .backReserve {
background: #ebebeb;
}

.dividerFormReserve {
width: 80% !important;
margin: 0px auto !important;
border-top: 2px solid #70a0ec !important;
border-bottom: 1px solid #70a0ec !important;
}

.formDataClient {
border: 1px solid #ccc;
display: flex;
flex-direction: column;
align-items: center;
padding: 0.8em 0;
}
.formDataClient .Select {
width: 70% !important;
border: 1px solid #dedede;
position: inherit !important;
}
.formDataClient .Select-menu-outer {
position: inherit !important;
}

.spanFormData {
width: 70%;
display: flex;
justify-content: flex-start;
}

.formDataClient .ui.input {
position: inherit;
margin-bottom: 10px;
width: 70%;
}

.formDataCard {
border: 1px solid #ccc;
display: flex;
flex-direction: column;
align-items: center;
padding: 0.8em 0;
}

.spanDataCard {
width: 70%;
display: flex;
justify-content: flex-start;
color: #ccc;
margin-top: -10px;
margin-bottom: 10px;
font-size: 11px;
}

.formDataCard .ui.input {
position: inherit;
margin-bottom: 10px;
width: 70%;
}
.formDataCard .sizeInput {
width: 30% !important;
}

.input-group-addon {
width: 1%;
vertical-align: middle;
padding: 0.5em 1em;
font-size: 1em;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #87b672;
border: 1px solid #ccc;
}
.input-group-addon i {
text-align: center;
width: 1.1em;
margin-left: -0.5em;
color: #FFF;
font-weight: 500;
font-size: 1.3em;
}

.select {
border: 1px solid #ccc;
width: 254px;
overflow: hidden;
display: flex;
justify-content: space-around;
flex-direction: row;
}

.selectCity {
height: 2.47em;
width: 100%;
border: none;
box-shadow: none;
background-color: transparent;
}

/*form-single car */
.containerReserve .divSearchAvailable {
order: 1;
flex-basis: 100%;
}
.containerReserve .contentReserveSingleCar {
order: 2;
flex: 1;
}
.containerReserve .contentFormReserves {
order: 3;
flex: 4;
}

.containerQuotation {
display: flex !important;
flex-wrap: wrap;
}
.containerQuotation .divSearchAvailable {
order: 1;
flex-basis: 100%;
}
.containerQuotation .contentSingleCar {
order: 2;
flex: 1;
}
.containerQuotation .formSingleCar {
order: 3;
flex: 4;
}

.contentSingleCar {
flex: 2;
/*height: 624px */
}

.formSingleCar {
flex: 1;
max-width: 365px;
}

.newSearch > div:first-child {
width: 100%;
height: 50px;
padding-top: 1em;
}
.newSearch > div:first-child:hover {
cursor: pointer;
}

.newSearch {
display: flex;
justify-content: center;
flex-direction: column;
background: #2b5bac;
color: #fff;
font-size: 16px;
text-align: center;
min-height: 50px;
align-items: center;
}
.newSearch i {
margin-left: 10px;
color: #c2c9e5;
font-size: 1em;
}

.divSearchAvailable {
height: 40px;
z-index: 102;
margin-top: -520px;
margin-left: 120px;
}

.divSearchAvailable .newSearch {
width: 365px;
position: absolute;
z-index: 102;
}

.containerFormSearch {
height: 540px;
}
.containerFormSearch .is-open {
z-index: 105;
}

.containerFormSearch .slick-list {
height: 540px;
}

.containerForm {
padding-top: 15px;
position: relative;
bottom: 540px;
}

.ui .container .slider {
height: 540px;
left: 0;
}

.slider #inputSearchDisplay {
padding-top: 50px;
position: relative;
}

.slideImg img {
width: 100%;
padding-top: 51px;
height: 540px;

}

.ui .fluid .container .slider {
background-color: red;
}
.divSearch, .divSearchAvailable {
flex-direction: row;
justify-content: flex-end;
}
.divSearch .form, .divSearchAvailable .form {
background: transparent;
}
.divSearch #inputSearchDisplay, .divSearchAvailable #inputSearchDisplay {
height: 0;
overflow: hidden;
transition: 0.2s;
}
.divSearch .input-group-addon-standar, .divSearchAvailable .input-group-addon-standar {
width: 40px;
vertical-align: middle;
padding: 0.5em 1em;
font-size: 1em;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #87b672;
border: none;
}
.divSearch .input-group-addon-standar i, .divSearchAvailable .input-group-addon-standar i {
text-align: center;
width: 1.4em;
margin-left: -0.5em;
color: #FFF;
font-weight: 500;
font-size: 1.5em;
}

.containerPlace {
display: flex;
flex-direction: column;
}

.placeRent, .placeReturn {
display: flex;
padding: 2em 1em 1.5em 3.2em;
flex-direction: column;
border: 1px solid #ccc;
}

.placeRent h3, .placeReturn h3 {
margin-bottom: 6px;
}

.placeRent span i, .placeReturn span i {
padding-right: 5px;
font-size: 1.5em;
}
.placeRent div > span, .placeReturn div > span {
font-size: 12px;
margin-right: 10px;
color: #b2b1b1;
}

.placeRent div, .placeReturn div {
margin-left: 17px;
}

.selectedRate {
display: flex;
padding: 2em 1em 0.5em 3.2em;
flex-direction: column;
background: #ebebeb;
border-top: 1px solid #ccc;
}
.selectedRate span {
color: #909090;
font-weight: 15px;
}
.selectedRate span i {
padding-right: 5px;
font-size: 1.6em;
}

.formQuotation {
margin-top: 15px;
display: flex;
padding: 1em 1em 2em 3.2em;
flex-direction: column;
background: #ebebeb;
}
.formQuotation .ui.small.input {
margin-top: -10px;
width: 90%;
}
.formQuotation .ui.button {
margin-top: 15px;
max-width: 90%;
margin-right: 0 !important;
}

.cri-seguro:before {
max-height: 18px;
}

.textUbication {
color: #6d6d6d;
max-height: 18px;
}

.listText {
margin-top: 10px;
margin-left: -10px;
color: #909090;
list-style: none;
}
.listText li:before {
content: "— ";
font-size: 10px;
}

/***********Single car css**************** */
.creatur-row {
display: flex;
}

.ct-price {
font-family: "Roboto", sans-serif;
font-size: 1.8em;
font-weight: 500;
color: #2b5bac;
word-spacing: -0.2em;
}

.ct-usd {
font-family: "Roboto", sans-serif;
color: #6d6d6d;
font-size: 1.3em;
font-weight: 400;
}

.icon-km {
color: #2b5bac;
}

.contentSingleCar {
display: flex;
flex-direction: column;
}

.singleCarContainer {
border: 1px solid #E9F0F4;
display: flex;
flex-flow: column;
margin: 2em;
flex: 3;
max-height: 252px;
width: 572px;
}

.singleCarContainer-carImage > img {
border: 1px solid #E9F0F4;
width: 215px;
height: 140px;
margin: 1em 1em 1em 0;
}

.singleCarContainer .diasRenta {
font-family: "Monserrat", sans-serif;
font-size: 0.8em;
color: #363636;
font-weight: 700;
}
.singleCarContainer .rentDesc {
font-family: "Roboto", sans-serif;
font-size: 0.8em;
color: #989898;
}
.singleCarContainer .km {
font-family: "Roboto", sans-serif;
font-size: 0.7em;
color: #989898;
}
.singleCarContainer .centralData {
margin: 2em 0;
width: 225px;
}

.singleCarContainer-title {
max-height: 37px;
flex: 1;
}
.singleCarContainer-title h2 {
display: inline-block;
padding-left: 0.5em;
font-family: "Roboto", sans-serif;
font-weight: 400;
}
.singleCarContainer-title img {
float: right;
padding-top: 50px;
}

.singleCarContainer-data {
flex: 3;
margin: 1.2em 0 1.2em 1.2em;
padding-left: 1em;
}

.ct-row {
display: flex;
}

.singleCarContainer-carImage {
flex: 1;
}

.singleCarContainer-title {
border-bottom: 1px solid #E9F0F4;
}

.contentIconSingleCar {
display: flex;
justify-content: space-around;
width: 225px;
flex-wrap: wrap;
word-spacing: 1em;
}
.contentIconSingleCar i {
font-size: 1.3em;
}
.contentIconSingleCar i.icon {
width: -20px;
}
.contentIconSingleCar .letterCarFeatures {
font-size: 12px !important;
font-weight: 600;
font-family: "Montserrat";
word-spacing: 1em;
padding-left: 5px;
}

.cri-kilometraje:before, .cri-paloma:before, .cri-puerta:before, .cri-seguro:before, .cri-transmision:before {
display: inline;
}

.buttonCotizar {
z-index: 100;
}

.singleCarContainer .buttonCotizar {
margin: 0;
}

/*single car css */
/*CARDS */
.ui.cards > .extra, .ui.card > .content, .ui.cards > .card > .extra {
border-top: none !important;
}

.spaceComillas {
width: 250px !important;
margin-left: 40px;
margin-right: -40px;
}

/* COMMENTS */
.containerComments h2 {
margin-top: 0.3em !important;
margin-bottom: 0 !important;
font-stretch: condensed;
}
.containerComments span {
color: #b2b2b2 !important;
font-size: 13px;
font-style: italic;
}
.containerComments .description {
font-size: 12px;
color: #b2b2b2 !important;
}
.containerComments a {
position: relative;
top: 0.6em;
margin-left: 0;
color: #000 !important;
}
.containerComments p {
position: relative;
top: 0em;
margin-left: 65px !important;
color: #000 !important;
font-size: 12px;
}

.ui.mini.image {
width: 55px !important;
}

/*FOOTER */
footer {
margin-top: 0px;
width: 100%;
}
footer > .container {
padding-top: 27px;
}

.containerComments {
padding-top: 0px;
}

.menuFooter a {
margin-right: 3%;
color: #337ab7 !important;
position: relative;
left: 10px;
padding-bottom: 0.6em;
font-size: 18px !important;
}

.trianguloDer {
content: " ";
width: 0;
height: 0;
border-left: 5px solid #87b672;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
position: absolute;
top: 4px;
border-right: 5px;
}

.dividerGreen {
border-top: 0px solid #87b672 !important;
border-bottom: 1px solid #87b672 !important;
margin: 0 0 5px 0 !important;
}

.aviso {
font-size: 13px;
color: #777;
margin-right: 10px;
position: relative;
}

.gridPaddingTop {
padding-top: 0px !important;
padding-bottom: 20px !important;
}

.footer-menu-divider {
font-size: 20px;
}

.footerPrivacidad {
text-align: right !important;
padding-top: 0px !important;
}
.footerPrivacidad a {
color: #777 !important;
font-size: 12px !important;
}

/********* Main Available ************ */
.contentCardCar {
width: 220px !important;
padding-right: 0px !important;
padding-bottom: 20px;
/*height: 218.38px !important */
}

#rowAvailable {
margin-left: 3em;
}
#rowAvailable .column {
padding-bottom: 14px;
}

.titleCar {
border-left: 4px solid #87b672 !important;
padding-left: 10px !important;
font-style: italic;
padding-top: 15px !important;
font-weight: 500 !important;
}

.imgMarca {
width: 50px;
height: 25px;
}

.imgCar {
width: 85.88px;
/*height: 81.86px */
/*width: 100% */
margin: 0 !important;
}

.contentReserve {
padding-bottom: 0 !important;
}

.contentCarPrice {
display: flex;
width: 100%;
flex-direction: row;
/*flex-wrap: nowrap */
flex-wrap: wrap;
justify-content: space-around;
}

.contentImgCar {
flex: 1;
align-self: flex-end;
}

.contentPrice {
flex: 1;
}
.contentPrice h2 {
margin: 0 !important;
line-height: 1em !important;
}
.contentPrice h4 {
margin: 0 0 20px 0 !important;
color: #b2b2b2 !important;
text-align: right;
}

.checkboxAvail {
display: flex !important;
justify-content: flex-end;
}
.checkboxAvail label {
font-size: 10px !important;
color: #2b5bac !important;
font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.checkboxAvail label:before {
background: rgba(255, 255, 255, 0) !important;
border: 0.1em solid #87b672 !important;
width: 14px !important;
height: 14px !important;
}
.checkboxAvail label:after {
color: #87b672 !important;
width: 20px !important;
font-size: 14px !important;
top: -2px !important;
}

.contentIcon {
display: flex;
margin-top: 20px;
justify-content: space-around;
width: 175px;
flex-wrap: wrap;
}
.contentIcon i:nth-child(-n+3) {
font-size: 17px;
}
.contentIcon i {
font-size: 15px;
position: relative;
right: 3%;
}
.contentIcon i.icon {
width: -20px;
}
.contentIcon .letterCarFeatures {
font-size: 12px !important;
font-weight: 600;
font-family: "Montserrat";
word-spacing: 1em;
padding-left: 5px;
}

.cardCar {
border: 1px solid #b2b2b2 inset !important;
width: 206px !important;
height: 218.38px !important;
}

.buttonCotizar span {
padding-bottom: 0.2em;
}

.buttonCotizar span:hover {
color: #87b672;
}

.cardCar > div div:first-child {
padding-bottom: 0px !important;
}
.cardCar > div div:last-child {
padding-bottom: 0px !important;
padding-top: 0px !important;
}
.cardCar > div div:last-child > div span {
padding-right: 11px !important;
}
.cardCar > .grid {
margin: 0 !important;
}

.letterCarFeatures {
font-size: 10px;
}

/**********Single car reserve *************** */
.icon-km {
color: #2b5bac;
}

.contentReserveSingleCar {
display: flex;
flex-direction: column;
}
.contentReserveSingleCar .singleCarContainer {
margin: 0 !important;
width: 85%;
}

.singleCarReserveContainer {
border: 1px solid #E9F0F4;
display: flex;
flex-flow: column;
flex: 2;
width: 78%;
max-height: 255px;
}

.singleCarReserveContainer-carImage > img {
border: 1px solid #E9F0F4;
width: 215px;
height: 140px;
margin: 1em 1em 1em 0;
}

.singleCarReserveContainer .diasRenta {
font-family: "Monserrat", sans-serif;
font-size: 0.8em;
color: #363636;
font-weight: 700;
}

.singleCarReserveContainer .rentDesc {
font-family: "Roboto", sans-serif;
font-size: 0.8em;
color: #989898;
}

.singleCarReserveContainer .km {
font-family: "Roboto", sans-serif;
font-size: 0.7em;
color: #989898;
}

.singleCarReserveContainer .centralData {
margin: 2em 0;
width: 225px;
}

.singleCarReserveContainer-title {
height: 37px;
flex: 1;
}

.singleCarReserveContainer-title h2 {
display: inline-block;
padding-left: 0.5em;
font-family: "Roboto", sans-serif;
font-weight: 400;
}

.singleCarReserveContainer-title img {
float: right;
}

.singleCarReserveContainer-data {
flex: 3;
margin: 1.2em 0 1.2em 1.2em;
padding-left: 1em;
}

.singleCarReserveContainer-carImage {
flex: 1;
}

.singleCarReserveContainer-title {
border-bottom: 1px solid #E9F0F4;
}

.contentIconSingleCarReserve {
display: flex;
justify-content: space-around;
width: 225px;
flex-wrap: wrap;
word-spacing: 1em;
}

.contentIconSingleCarReserve i {
font-size: 1.3em;
}

.contentIconSingleCarReserve i.icon {
width: -20px;
}

.contentIconSingleCarReserve .letterCarFeatures {
font-size: 12px !important;
font-weight: 600;
font-family: "Montserrat";
word-spacing: 1em;
padding-left: 5px;
}

.cri-kilometraje:before, .cri-paloma:before, .cri-puerta:before, .cri-seguro:before, .cri-transmision:before {
display: inline;
}

.singleCarReserveContainer .buttonCotizar {
margin: 0;
}

.divSpin {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 505px;
width: 366px;
position: absolute;
z-index: 100;
top: -70px;
}
.divSpin i {
font-size: 8em;
color: #87b672;
}

@media only screen and (max-width: 1199px) and (min-width: 320px) {
.containerPlaceReserve {
flex-basis: 95% !important;
}

.contentReserveSingleCar .singleCarContainer {
margin: 0 !important;
width: 95% !important;
}

.containerPlaceReserve, .contentReserveSingleCar {
flex-direction: column;
}
}
@media only screen and (max-width: 1024px) and (min-width: 320px) {
.content {
margin: 0 auto;
width: 100%;
}
}
@media only screen and (max-width: 767px) and (min-width: 500px) {
.form {
width: 100% !important;
}
}
@media only screen and (max-width: 600px) and (min-width: 320px) {
.topDatePicker {
flex-direction: column !important;
align-items: center !important;
}
}
/***********QUOTATION****************** */
@media only screen and (max-width: 560px) and (min-width: 320px) {
.singleCarContainer .centralData {
margin: 1em 0 1em 0 !important;
}

.singleCarContainer-data {
/*max-width: 50% */
}

.singleCarContainer-carImage > img {
border: none !important;
}

.singleCarContainer {
height: 100% !important;
}

.singleCarContainer-title {
/*max-width: 50% */
}

.creatur-row {
flex-direction: column-reverse;
}
}
@media only screen and (max-width: 991px) and (min-width: 320px) {
.menuFooter {
display: flex !important;
flex-direction: row;
}
.menuFooter a {
border-bottom: none;
}

.trianguloDer {
position: relative;
top: 14px;
}

.ui .form {
width: 100% !important;
}

.socialTitle {
top: -60px;
}

.ui.labeled.icon.menu {
position: fixed;
left: 50%;
margin-top: 20px;
margin-bottom: 70px !important;
margin-left: -140px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.containerQuotation .divSearchAvailable {
order: 1;
}
.containerQuotation .divSearchAvailable .newSearch {
width: 365px !important;
}

.singleCarReserveContainer {
width: 98.3%;
}

.containerPlaceReserve {
margin-right: 10px;
}

.divSearchAvailable {
width: 100%;
}
.divSearchAvailable .newSearch {
width: 365px !important;
}
.divSearchAvailable .newSearch .fadeSearchOpen {
height: 450px;
}
.divSearchAvailable .Select {
width: 76.3%;
left: 15.4%;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.containerQuotation .divSearchAvailable {
order: 1;
}

.Select-menu-outer {
position: absolute;
width: 82.8%;
top: 80%;
}

.ui.container {
margin-right: 0 !important;
margin-left: 0 !important;
width: 100% !important;
}

.ui.container.containerForm {
margin-left: auto !important;
margin-right: auto !important;
width: 723px !important;
}

.divAvailable {
margin-left: 3em;
margin-right: auto;
}

.divTitleCar {
padding-top: 25px;
}

.contentReserveSingleCar {
height: 718px;
}

.contentFormReserves {
margin-top: 15px !important;
width: 100%;
max-width: none !important;
}

.select {
width: 70% !important;
}

.containerForm {
width: 100%;
margin-left: 0;
margin-right: 0;
}

.divSearch .gridAutocomplete {
padding-left: 0 !important;
padding-right: 0 !important;
position: relative;
right: 1.3%;
}

.inner_toggle {
display: none;
}

.selectFormSearch {
width: 90%;
}
.selectFormSearch .Select {
width: 82%;
left: 10.4%;
}

.selectFormSearchWhen {
justify-content: flex-start;
width: 96%;
}

.divWhen {
width: 76%;
}

.selectDivHour .selectHour {
width: 25% !important;
left: 63% !important;
}

.react-datepicker__input-container {
width: 100%;
}

.divSearchAvailable {
width: 100%;
}
.divSearchAvailable .newSearch {
width: 100% !important;
z-index: 101;
}
.divSearchAvailable .newSearch .fadeSearchOpen {
height: 450px;
}
.divSearchAvailable .newSearch .gridAutocomplete {
justify-content: flex-start;
}
.divSearchAvailable .newSearch .gridAutocomplete .selectFormSearch .input-group-addon-standar {
position: inherit;
}
.divSearchAvailable .newSearch .gridAutocomplete .selectFormSearch .Select {
position: inherit;
width: 92%;
}
}
.contentReserveSingleCar {
margin-left: 1em;
margin-right: 1em;
}
.contentReserveSingleCar .singleCarContainer {
margin: 0 0 0 0 !important;
}

.contentFormReserves {
margin-right: 1em;
margin-top: 0 !important;
}
.contentFormReserves .formSingleCar {
max-width: 100% !important;
}
.contentFormReserves .contentSingleCar {
padding-right: 0.5em;
padding-top: 1em;
}
.contentFormReserves .singleCarContainer-title {
max-height: 40px;
}
.contentFormReserves .singleCarContainer-data {
margin: 0 0 1.2em 0 !important;
padding-left: 0.8em !important;
}
.contentFormReserves .singleCarContainer-carImage > img {
width: 190px !important;
height: 120px !important;
}
.contentFormReserves .price-row {
margin-top: 1.5em;
}
.contentFormReserves .km, .contentFormReserves .icon-km {
visibility: hidden;
}

@keyframes fadeSearchOpen {
0% {
height: 0;
}
100% {
height: 450px;
}
}
.fadeSearchOpen {
height: 450px !important;
animation: 500ms fadeSearchOpen;
}
.fadeSearchOpen h1 {
display: none;
}

@keyframes fadeSearchClose {
0% {
height: 450px;
}
100% {
height: 0;
}
}
.fadeSearchClose {
height: 0px;
animation: 500ms fadeSearchClose;
}
.fadeSearchClose h1 {
display: none;
}

@media only screen and (max-width: 767px) {
.ui.container {
margin-right: 0 !important;
}

.ui.fluid.container.slider {
width: 100% !important;
margin-left: 0 !important;
margin-right: 0 !important;
}

.ui.fluid.container.containerFormSearch {
width: 100% !important;
margin-left: 0 !important;
margin-right: 0 !important;
}
.ui.fluid.container.containerFormSearch .ui.container {
margin-left: 0 !important;
margin-right: 0 !important;
}

.select {
width: 70% !important;
}

.ui.container.containerReserve {
flex-direction: column !important;
}

.contentFormReserves {
width: 100%;
max-width: none !important;
}
.contentFormReserves .formReserveRight {
margin-left: 1em;
margin-right: 1em;
}
}
.contentReserveSingleCar {
margin-right: 1em;
}
.contentReserveSingleCar .inner_toggle {
display: none;
}
.contentReserveSingleCar .slick-slider {
display: none;
}
.contentReserveSingleCar .dividerForm {
width: 100%;
}
.contentReserveSingleCar .containerForm {
bottom: 0;
}
.contentReserveSingleCar .form {
background-color: #2b5bac;
}
.contentReserveSingleCar .gridAutocomplete {
justify-content: space-around;
left: 30px;
position: relative;
width: 95.5%;
}
.contentReserveSingleCar .gridAutocomplete .selectFormSearch {
width: 95%;
}
.contentReserveSingleCar .gridAutocomplete .selectFormSearch .Select {
position: inherit;
width: 80%;
}
.contentReserveSingleCar .Select-menu-outer {
position: absolute;
width: 75.8%;
top: 80%;
}

.divWhen {
width: 76%;
}
.divWhen .selectDivHour .selectHour {
width: 25% !important;
left: 63% !important;
}
.divWhen .react-datepicker__input-container {
width: 100%;
}
.divWhen .divButtonGreeen {
padding: 0 !important;
}
.divWhen .divButtonGreeen .buttonGreen {
width: 100%;
}
.divWhen .ui.container.containerComments {
margin-left: 3em !important;
}
.divWhen .divSearchAvailable {
margin-bottom: 50px;
}
.divWhen .divSearch .newSearch {
position: relative !important;
}
.divWhen .divSearchAvailable, .divWhen .divSearch {
width: 100%;
}
.divWhen .divSearchAvailable .input-group-addon-standar, .divWhen .divSearch .input-group-addon-standar {
border: none;
}
.divWhen .divSearchAvailable .newSearch, .divWhen .divSearch .newSearch {
width: 100% !important;
position: absolute;
background-color: #2b5bac;
z-index: 101;
}
.divWhen .divSearchAvailable .newSearch .fadeSearchOpen, .divWhen .divSearch .newSearch .fadeSearchOpen {
height: 400px;
}
.divWhen .divSearchAvailable .selectFormSearchWhen .input-group-addon-standar i, .divWhen .divSearch .selectFormSearchWhen .input-group-addon-standar i {
width: 1.6em;
}
.divWhen .contentAvailable #rowAvailable {
margin-left: 1.4em;
margin-right: auto;
}
.divWhen .contentAvailable #rowAvailable .contentCardCar .ui.card.cardCar {
border-radius: 0 !important;
}
.divWhen .contentAvailable #rowAvailable .contentCardCar .buttonCotizar {
border-radius: 0 !important;
}
.divWhen .containerReserve .singleCarContainer {
width: 100%;
}

.divTitleCar {
border: 1px solid #ccc;
height: 50px;
margin-right: 15px;
margin-left: 5px;
}
.divTitleCar h3 {
margin-left: 5px !important;
margin-top: 5px !important;
padding: 8px !important;
}

@keyframes fadeSearchOpen {
0% {
height: 0px;
}
100% {
height: 400px;
}
}
.fadeSearchOpen {
height: 400px !important;
animation: 500ms fadeSearchOpen;
}
.fadeSearchOpen h1 {
display: none;
}

@keyframes fadeSearchClose {
0% {
height: 400px;
}
100% {
height: 0px;
}
}
.fadeSearchClose {
height: 0px;
animation: 500ms fadeSearchClose;
}
.fadeSearchClose h1 {
display: none;
}

.contentReserveSingleCar {
margin-left: 1em;
margin-right: 1em;
}
.contentReserveSingleCar .singleCarContainer {
width: 100% !important;
margin: 0 0 0 0 !important;
max-height: none;
}
.contentReserveSingleCar .contentFormReserves {
margin-right: 1em;
margin-top: 0 !important;
}
.contentReserveSingleCar .price-row {
margin-bottom: 0.6em;
order: 1;
flex-basis: 100%;
}
.contentReserveSingleCar .price-row .km {
flex-basis: 11%;
}
.contentReserveSingleCar .price-row .icon-km {
flex-basis: 2%;
}
.contentReserveSingleCar .price-row .three {
flex-grow: 6;
}

@media only screen and (max-width: 991px) {
.ui.container.containerQuotation {
flex-direction: column;
}
.ui.container.containerQuotation .divSearchAvailable {
order: 1;
}
.ui.container.containerQuotation .contentSingleCar {
align-items: center;
order: 2;
margin-right: 1em;
}
.ui.container.containerQuotation .formSingleCar {
order: 3;
margin: 0 auto;
}

.containerReserve {
flex-direction: column;
}
}
@media only screen and (max-width: 560px) {
.containerQuotation {
flex-wrap: column;
}
.containerQuotation .formSingleCar {
order: 3;
}
.containerQuotation .contentSingleCar {
order: 2;
}
.containerQuotation .contentSingleCar .singleCarContainer {
margin: 0;
width: 100;
max-height: none;
}
.containerQuotation .contentSingleCar .singleCarContainer .singleCarContainer-title {
display: flex;
justify-content: space-between;
}
.containerQuotation .formSingleCar {
max-width: none;
margin-right: 1em;
}
}
.contentReserveSingleCar, .containerQuotation {
margin-left: 1em;
margin-right: 1em;
}
.contentReserveSingleCar .singleCarContainer-title, .containerQuotation .singleCarContainer-title {
display: flex;
flex-wrap: wrap;
max-height: none;
}
.contentReserveSingleCar .singleCarContainer-title h2, .containerQuotation .singleCarContainer-title h2 {
margin-bottom: 0;
}
.contentReserveSingleCar .singleCarContainer-title img, .containerQuotation .singleCarContainer-title img {
height: 36px;
margin-bottom: 0.7em;
}
.contentReserveSingleCar .singleCarContainer, .containerQuotation .singleCarContainer {
width: 100% !important;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-carImage, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-carImage {
justify-content: center;
display: flex;
order: 1;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data {
order: 2;
display: flex;
flex-flow: wrap;
margin: 1em 1em 0.8em 1em;
padding-left: 0;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .price-row, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .price-row {
margin-bottom: 0.6em;
order: 1;
flex-basis: 100%;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .price-row .km, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .price-row .km {
flex-grow: 1;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .price-row .icon-km, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .price-row .icon-km {
flex-grow: 1.5;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .price-row .three, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .price-row .three {
flex-grow: 9;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .centralData, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .centralData {
margin-top: 0 !important;
order: 2;
flex-basis: 55%;
}
.contentReserveSingleCar .singleCarContainer .creatur-row .singleCarContainer-data .contentIconSingleCar, .containerQuotation .singleCarContainer .creatur-row .singleCarContainer-data .contentIconSingleCar {
order: 3;
align-self: flex-end;
flex-basis: 100%;
justify-content: space-around;
}

@media only screen and (max-width: 500px) {
.contentAvailable #rowAvailable {
margin-left: 1.4em;
margin-right: 2.2em;
flex-direction: column;
}
.contentAvailable #rowAvailable .contentCardCar {
width: 100% !important;
}
.contentAvailable #rowAvailable .contentCardCar .ui.card.cardCar {
width: 100% !important;
border-radius: 0 !important;
height: 250px !important;
}
.contentAvailable #rowAvailable .contentCardCar .ui.card.cardCar .contentReserve .contentCarPrice .contentImgCar {
flex: 5;
}
.contentAvailable #rowAvailable .contentCardCar .ui.card.cardCar .contentReserve .contentCarPrice .contentImgCar .imgCar {
width: 220px;
}
.contentAvailable #rowAvailable .contentCardCar .ui.card.cardCar .contentReserve .contentIcon {
margin-top: 5px;
width: 100%;
}
}
.containerQuotation .formSingleCar {
margin-right: 1em !important;
}

nav .aLogo img {
width: 70%;
height: 80%;
}
